.todos-wrapper-container {
    margin: 30px auto;
}

.todos-wrapper {
    width: 200px;
    margin: 0 auto
}

.todos-wrapper:hover, .todos:hover {
    cursor: pointer;
    color: red;
    border: 1px solid red;
    outline: none
}

.todos {
    border: 1px solid #ccc;
    margin: 0;
    padding: 5px;
    color: rgb(70, 69, 69)
}